@model ELearningManagementSystem.Models.Professor
@{

    ViewBag.Title = "DeptList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="page-wrapper" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-sm-12 col-md-12 well" id="content">
                <!--start edit profile-->
                <section class="edit-profile">
                    <div class="container">
                        <h1>Edit Profile</h1>
                        <hr>
                        <div class="row">

                            <!-- edit form column -->
                            <div class="col-md-9 personal-info" style="width:100%; ">
                                <div class="alert alert-danger text-center" style="width:100%;display:none" id="error">@ViewBag.error</div>

                                @using (Html.BeginForm("EditProfile", "professor", htmlAttributes: new { @class = "form-horizontal ", enctype = "multipart/form-data" }, method: FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="imag" style="float:left; width:300px;">
                                        <div class="form-group">

                                            <!-- left column -->
                                            <div>
                                                <div class="text-center my-img">
                                                    <img src="~/images/@Model.Photo" class="avatar img-circle" name="p_pic" alt="avatar" id="av">
                                                    <h4>Upload photo</h4>
                                                    @* @Html.TextBoxFor(m => m.Photo, new { type = "file", name = "myfile" })*@
                                                    @*   @Html.TextBoxFor(q=>q.Photo)*@
                                                    <input type="file" class="form-control" name="Photo" accept=".jpg, .jpeg, .png" id="va" onchange="changephoto()" value="" />
                                                    @*@Html.TextBoxFor(m => m.Photo, new { type = "file" , name="myfile"})*@
                                                    @* <input type="file"  class="form-control" name=""/>*@
                                                    @*  @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { type = "file" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="forms" style="float:left; width:800px;">
                                        @Html.HiddenFor(w => w.Prof_Id)

                                        @*<div class="form-group">
                                                <label class="col-lg-3 control-label">Id:</label>
                                                <div class="col-lg-8">
                                                    @Html.TextBoxFor(w => w.Prof_Id, htmlAttributes: new { @Value = Model.Prof_Id, @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Name:</label>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(w => w.PersonalName, htmlAttributes: new { @Value = Model.PersonalName, @class = "form-control", required = "required" })

                                                @*<input class="form-control" type="text" placeholder="Enter name" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Username:</label>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(w => w.UserName, htmlAttributes: new { @Value = Model.UserName, @class = "form-control", required = "required", id = "un" })

                                                @*<input class="form-control" type="text" placeholder="Enter username" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Department:</label>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(q => q.Dept_Id, ViewBag.DeptList as SelectList, new { @class = "form-control", required = "required" })
                                                @* <input class="form-control" type="text" placeholder="Enter department-id" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email-address:</label>
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(w => w.E_Mail, htmlAttributes: new { @Value = Model.E_Mail, @class = "form-control", @type = "email", required = "required" })

                                                @*<input class="form-control" type="text" placeholder="Enter email" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Password:</label>
                                            <div class="col-lg-8">
                                                @Html.PasswordFor(w => w.Password, htmlAttributes: new { @class = "form-control", required = "required" })

                                                @*<input class="form-control" type="password" placeholder="Enter password" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Confirm password:</label>
                                            <div class="col-lg-8">
                                                @Html.PasswordFor(w => w.CPassword, htmlAttributes: new { @class = "form-control", required = "required" })
                                                @*<input class="form-control" type="password" placeholder="Confirm password" value="">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationSummary("", new { style = "color:red;" })
                                            <label class="col-lg-3 control-label"></label>
                                            <div class="col-lg-8">
                                                <input type="submit" class="btn btn-success" value="Save" style="margin-right: 5px;">
                                                <span></span>
                                                @Html.ActionLink("Back", null, null, null, new { @class = "btn btn-danger", href = Request.UrlReferrer })
                                                @*<input type="button" class="btn btn-danger" value="Back">*@
                                            </div>
                                        </div>

                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <hr>
                </section>
                <!--end edit profile-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
@section scripts{

    <script>
        var err = document.getElementById("error");
        var un = document.getElementById("un");
        if (err.innerText != "") {

            err.style.display = "block";
        }

        un.addEventListener("click", function () {

            err.style.display = "none";
        })
    </script>


    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>


}
